<h3>My Motors</h3>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <div class="col-sm-12">
      <button ng-click="openMotorChooser()" class="btn btn-primary">
        Add Motor
      </button>
    </div>
  </div>
  <div>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="motor in motors track by $index">
        <div>
          <div>
            {{ motor.count }} -
            {{ motor.motor['manufacturer'] }} -
            {{ motor.motor['common-name'] }}
            <button ng-click="addMotor(motor)" class="btn btn-default">
              +
            </button>
            <button ng-click="delMotor(motor)" class="btn btn-default">
              -
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</form>