<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputRocketName" class="col-sm-3 control-label">Rocket Name:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputRocketName" ng-model="rocket.name" />
    </div>

    <label for="inputRocketMfg" class="col-sm-3 control-label">Rocket Manufacturer:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputRocketMfg" ng-model="rocket.mfg" />
    </div>

    <label for="inputRocketColors" class="col-sm-3 control-label">Rocket Colors:</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="inputRocketColors" ng-model="rocket.colors" />
    </div>

    <label for="inputRecoveryMode" class="col-sm-3 control-label">Recovery Mode:</label>
    <div class="btn-group col-sm-7" uib-dropdown>
      <button id="inputRecoveryMode" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ rocket.recovery }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="inputRecoveryMode">
        <li ng-repeat="a in recoveries" role="menuitem"><a ng-click="recoveryItemSelected(a)">{{a}}</a></li>
      </ul>
    </div>

    <label for="inputRodSize" class="col-sm-3 control-label">Rod/Rail Size:</label>
    <div class="btn-group col-sm-7" uib-dropdown>
      <button id="inputRodSize" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        {{ rocket.rod }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="inputRodSize">
        <li ng-repeat="a in rods" role="menuitem"><a ng-click="rodItemSelected(a)">{{a}}</a></li>
      </ul>
    </div>

    <label for="inputMotorConfig" class="col-sm-3 control-label">Motor Configuration:</label>
    <div class="col-sm-7">
      <ul class="list-group" aria-labelledby="inputMotorConfig">
        <li class="list-group-item" ng-repeat="stage in rocket.motors track by $index">
          <label>Stage ({{ $index + 1 }}):  </label>
          <label>Number of motors: </label>
          <div class="btn-group" uib-dropdown>
            <button id="clusterSizeBtn" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
              {{ stage.length }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="clusterSizeBtn">
              <li ng-repeat="clusterSize in clusterSizes" role="menuitem">
                <a ng-click="clusterSizeSelected($parent.$index, clusterSize)">{{ clusterSize }}</a>
              </li>
            </ul>
          </div>
          <ul>
            <li ng-repeat="motor in stage track by $index" role="menuitem">
              <label>Motor ({{ $index + 1 }}) </label>
              <label>Diameter: </label>
              <div class="btn-group" uib-dropdown>
                <button id="motorSizeBtn" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                  {{ motor.diameter }}mm
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu  aria-labelledby="motorSizeBtn">
                  <li ng-repeat="motorSize in motorSizes" role="menuitem">
                    <a ng-click="addMotorSizeToStage($parent.$parent.$index, $parent.$index, motorSize)">{{ motorSize }}mm</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <li class="list-group-item">
          <button id="inputMotorConfig" type="button" class="btn btn-primary" ng-click="addStage()">
            Add Stage
          </button>
        </li>
      </ul>
    </div>

    <label for="inputPreFlightChecklist" class="col-sm-3 control-label">Pre-Flight Checklist Items:</label>
    <div class="col-sm-7">
      <ul class="list-group" aria-labelledby="inputPreFlightChecklist">
        <li class="list-group-item" ng-repeat="a in rocket.preflight track by $index">
          <input type="text" class="form-control" ng-model="rocket.preflight[$index]" />
        </li>
        <li class="list-group-item">
          <button id="inputPreFlightChecklist" type="button" class="btn btn-primary" ng-click="addPreFlightRow()">
            Add Pre-Flight Checklist Item
          </button>
        </li>
      </ul>
    </div>

    <label for="inputNotes" class="col-sm-3 control-label">Notes:</label>
    <div class="col-sm-7">
      <textarea class="form-control" rows="5" id="inputNotes" ng-model="rocket.notes"></textarea>
    </div>

  </div>
  <div class="form-group">
    <div class="col-sm-12">
      <button ng-click="submit()" class="btn btn-default center-block">
        Update Rocket
      </button>
    </div>
  </div>
</form>