<div class="navbar" ng-controller="HeaderCtrl">
    <div class="navbar-inner">
        <div class="row">
            <a class="brand" ng-click="home()">Log My Rocket</a>
            <ul class="nav" ng-show="isAuthenticated()">
                <li ng-class="{active:isNavbarActive('rockets')}"><a href="/rockets">My Rockets</a></li>
                <li ng-class="{active:isNavbarActive('flights')}"><a href="/flights">My Flights</a></li>
            </ul>
            <ul class="nav pull-right" ng-show="hasPendingRequests()">
                <li class="divider-vertical"></li>
                <li><a href="#"><img src="/static/img/spinner.gif"></a></li>
            </ul>
        </div>
        <div class="row">
            <login-toolbar></login-toolbar>
            <ul ng-show="isAuthenticated()" class="nav pull-left">
                <li>
                    <form class="navbar-form">
                        <a class="btn" href="/rockets/add-rocket">Add Rocket</a>
                    </form>
                </li>
                <li>
                    <form class="navbar-form">
                        <a class="btn" href="/flights/new-flight">New Flight</a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div>
        <ul class="breadcrumb">
            <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
                <span class="divider">/</span>
                <ng-switch on="$last">
                    <span ng-switch-when="true">{{breadcrumb.name}}</span>
                    <span ng-switch-default><a href="{{breadcrumb.path}}">{{breadcrumb.name}}</a></span>
                </ng-switch>
            </li>
        </ul>
    </div>
</div>