<h3>New Flight</h3>

<form class="form-horizontal" role="form">
  <label for="inputRocketName" class="col-sm-2 control-label">Rocket Name:</label>
  <div class="btn-group col-sm-10" uib-dropdown>
    <button id="inputRocketName" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
      {{ rocket.rocket_data.name }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="inputRocketName">
      <li ng-repeat="item in rockets" role="menuitem"><a ng-click="rocketItemSelected(item)">{{ item.rocket_data.name }}</a></li>
    </ul>
  </div>


  <label class="col-sm-2 control-label">Motor Configuration:</label>
  <div class="col-sm-10">
    <ul class="list-group" aria-labelledby="inputMotorConfig">
      <li class="list-group-item" ng-repeat="stage in rocket.rocket_data.motors track by $index">
        <label>Stage ({{ $index + 1 }}):  </label>
        <label>Number of motors: {{ stage.length }}</label>
        <ul>
          <li ng-repeat="motor_spec in stage track by $index" role="menuitem">
            <label>Motor ({{ $index + 1 }}) </label>
            <label>Diameter: {{ motor_spec.diameter }}mm</label>
            <label>Motor: {{ motor_spec.motor['manufacturer-abbrev'] }} {{ motor_spec.motor['common-name'] }}</label>
            <div class="btn-group">
              <button ng-click="openMotorChooser($parent.$index, $index, motor_spec.diameter)" class="btn btn-primary">
                Pick Motor
              </button>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="submit()" class="btn btn-default">
        Go To Flight Card
      </button>
    </div>
  </div>
</form>